# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.RubWorldReborn.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Victo\Unity\RubWorldReborn\.idea\.idea.RubWorldReborn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
